In [1]:
import sqlite3
import pandas as pd
# import modin.pandas as pd
import numpy as np
# random seed for numpy --> random seed for sklearn, pandas, statsmodels
np.random.seed(99)

import random
random.seed(99)

#### SQL Statements 
- EVENT_OUTCOMES --> EVENT_OUTCOMES_MONTHLY
    - create table EVENT_OUTCOMES_MONTHLY AS select *, SUM(FATALITIES), SUM(COUNT_PRO), SUM(COUNT_SRZ), SUM(COUNT_STRA), SUM(COUNT) AS NUMBER_EVENTS, SUM(FATALITIES_PRO), SUM(FATALITIES_SRZ), SUM(FATALITIES_STRA) from TB001_EVENT_OUTCOMES GROUP BY GID_0, EVENT_DATE_MONTH 

- EVENT_OUTCOMES_MONTHLY --> EVENT_OUTCOMES_MONTHLY_START_DATE
    - create TABLE TB003_EVENT_OUTCOMES_MONTHLY_START_DATE as select DISTINCT TB002_EVENT_OUTCOMES_MONTHLY.*, UNREGION1, UNREGION2, START_DATE FROM TB002_EVENT_OUTCOMES_MONTHLY, TB001_CARTESIAN_FRAME WHERE TB002_EVENT_OUTCOMES_MONTHLY.GID_0=TB001_CARTESIAN_FRAME.GID_0 AND T  B002_EVENT_OUTCOMES_MONTHLY.GID_1=TB001_CARTESIAN_FRAME.GID_1

In [2]:
# conn = sqlite3.connect("../data/01_ACLED.db")
# acled_monthly_adm1 = pd.read_sql_query("""
#     SELECT * FROM TB003_EVENT_OUTCOMES_MONTHLY_START_DATE ORDER BY GID_0, GID_1, EVENT_DATE_MONTH;
#     """, conn)
# acled_monthly_adm1.to_csv("../data/TB003_EVENT_OUTCOMES_MONTHLY_START_DATE.csv", index=False)
# acled_monthly_adm1

In [3]:
acled_monthly_adm1 = pd.read_csv("../data/TB003_EVENT_OUTCOMES_MONTHLY_START_DATE.csv")
# acled_monthly_adm1[acled_monthly_adm1["GID_0"] == "AFG"].sort_values(by="EVENT_DATE")
acled_monthly_adm1

,GID_1,GID_0,UNREGION1,UNREGION2,LATITUDE,LONGITUDE,START_DATE,EVENT_DATE,EVENT_DATE_MONTH,EVENT_DATE_QUARTER,EVENT_DATE_YEAR,SUM(FATALITIES),SUM(COUNT_PRO),SUM(COUNT_SRZ),SUM(COUNT_STRA),NUMBER_EVENTS,SUM(FATALITIES_PRO),SUM(FATALITIES_SRZ),SUM(FATALITIES_STRA)
0,ABW.1_1,ABW,Caribbean,Americas,12.5240,-70.0270,2019-01-01,2019-09-27 00:00:00,2019-09-01,2019-07-01,2019,0,3,0,0,3,0,0,0
1,ABW.1_1,ABW,Caribbean,Americas,12.5240,-70.0270,2019-01-01,2020-03-17 00:00:00,2020-03-01,2020-01-01,2020,0,1,0,1,2,0,0,0
2,ABW.1_1,ABW,Caribbean,Americas,12.5240,-70.0270,2019-01-01,2020-05-20 00:00:00,2020-05-01,2020-04-01,2020,0,1,0,0,1,0,0,0
3,ABW.1_1,ABW,Caribbean,Americas,12.5240,-70.0270,2019-01-01,2020-07-03 00:00:00,2020-07-01,2020-07-01,2020,0,1,0,0,1,0,0,0
4,ABW.1_1,ABW,Caribbean,Americas,12.5240,-70.0270,2019-01-01,2020-08-25 00:00:00,2020-08-01,2020-07-01,2020,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16949,ZWE.9_1,ZWE,Eastern Africa,Africa,-21.2000,27.8500,1997-01-01,2019-03-25 00:00:00,2019-03-01,2019-01-01,2019,0,2,1,0,3,0,0,0
16950,ZWE.9_1,ZWE,Eastern Africa,Africa,-22.2167,29.9833,1997-01-01,2019-07-27 00:00:00,2019-07-01,2019-07-01,2019,1,6,1,0,7,0,1,0
16951,ZWE.9_1,ZWE,Eastern Africa,Africa,-20.9333,29.0000,1997-01-01,2020-07-31 00:00:00,2020-07-01,2020-07-01,2020,3,12,6,1,19,2,1,0
16952,ZWE.9_1,ZWE,Eastern Africa,Africa,-22.2233,29.9839,1997-01-01,2020-11-19 00:00:00,2020-11-01,2020-10-01,2020,5,4,1,1,6,4,1,0
16953,ZWE.9_1,ZWE,Eastern Africa,Africa,-22.2167,29.9833,1997-01-01,2020-12-29 00:00:00,2020-12-01,2020-10-01,2020,1,6,4,0,10,0,1,0

### Monthly ACLED on ADM0 Level

In [4]:
agg_dict = {'SUM(FATALITIES)': np.sum, 'SUM(COUNT_PRO)': np.sum, 'SUM(COUNT_SRZ)': np.sum, 'SUM(COUNT_STRA)': np.sum, 'SUM(FATALITIES_PRO)': np.sum, 'SUM(FATALITIES_SRZ)': np.sum, 'SUM(FATALITIES_STRA)': np.sum, "NUMBER_EVENTS": np.sum}
acled_monthly_adm0_time_series = acled_monthly_adm1.groupby(by=["GID_0", "EVENT_DATE_MONTH", "UNREGION1", "UNREGION2", "LATITUDE", "LONGITUDE", "START_DATE"]).agg(agg_dict)
acled_monthly_adm0_time_series = acled_monthly_adm0_time_series.reset_index()
acled_monthly_adm0_time_series.head()

,GID_0,EVENT_DATE_MONTH,UNREGION1,UNREGION2,LATITUDE,LONGITUDE,START_DATE,SUM(FATALITIES),SUM(COUNT_PRO),SUM(COUNT_SRZ),SUM(COUNT_STRA),SUM(FATALITIES_PRO),SUM(FATALITIES_SRZ),SUM(FATALITIES_STRA),NUMBER_EVENTS
0,ABW,2019-09-01,Caribbean,Americas,12.524,-70.027,2019-01-01,0,3,0,0,0,0,0,3
1,ABW,2020-03-01,Caribbean,Americas,12.524,-70.027,2019-01-01,0,1,0,1,0,0,0,2
2,ABW,2020-05-01,Caribbean,Americas,12.524,-70.027,2019-01-01,0,1,0,0,0,0,0,1
3,ABW,2020-07-01,Caribbean,Americas,12.524,-70.027,2019-01-01,0,1,0,0,0,0,0,1
4,ABW,2020-08-01,Caribbean,Americas,12.524,-70.027,2019-01-01,0,1,0,0,0,0,0,1

##### add missing months

In [5]:
from datetime import datetime
from dateutil import rrule

acled_monthly_adm0_time_series["START_DATE"]= pd.to_datetime(acled_monthly_adm0_time_series["START_DATE"])
acled_monthly_adm0_time_series["EVENT_DATE_MONTH"]= pd.to_datetime(acled_monthly_adm0_time_series["EVENT_DATE_MONTH"])

# insert a row for country
gid0 = acled_monthly_adm0_time_series['GID_0'].unique()
for g in gid0:
    print(g)
    # start and end dates
    start_date = acled_monthly_adm0_time_series[acled_monthly_adm0_time_series["GID_0"] == g]["START_DATE"].iloc[0]
    unregion1 = acled_monthly_adm0_time_series[acled_monthly_adm0_time_series["GID_0"] == g]["UNREGION1"].iloc[0]
    unregion2 = acled_monthly_adm0_time_series[acled_monthly_adm0_time_series["GID_0"] == g]["UNREGION2"].iloc[0]
    lat = acled_monthly_adm0_time_series[acled_monthly_adm0_time_series["GID_0"] == g]["LATITUDE"].iloc[0]
    long = acled_monthly_adm0_time_series[acled_monthly_adm0_time_series["GID_0"] == g]["LONGITUDE"].iloc[0]

    # start_date = datetime.strptime(start_date + " 00:00:00", "%Y-%m-%d %H:%M:%S")
    # print(start_date)
    
    end_date = datetime(2022, 2, 28)
    # print(end_date)
    for dt in rrule.rrule(rrule.MONTHLY, dtstart=start_date, until=end_date):
        # print(dt)
        if not ((acled_monthly_adm0_time_series['GID_0'] == g) & (acled_monthly_adm0_time_series['EVENT_DATE_MONTH'] == dt)).any():
            new_row = pd.DataFrame([{'GID_0': g, 'EVENT_DATE_MONTH': dt, 'LATITUDE': lat, "LONGITUDE": long, "START_DATE":start_date, "UNREGION1": unregion1, "UNREGION2": unregion2}])
            # print(new_row)
            acled_monthly_adm0_time_series = pd.concat([acled_monthly_adm0_time_series, new_row])

ABW
AFG
AGO
AIA
ALA
ALB
AND
ARE
ARG
ARM
ASM
ATA
ATG
AUS
AUT
AZE
BDI
BEL
BEN
BES
BFA
BGD
BGR
BHR
BHS
BIH
BLM
BLR
BLZ
BMU
BOL
BRA
BRB
BRN
BTN
BWA
CAF
CAN
CHE
CHL
CHN
CIV
CMR
COD
COG
COK
COL
COM
CPV
CRI
CUB
CUW
CYM
CYP
CZE
DEU
DJI
DMA
DNK
DOM
DZA
ECU
EGY
ERI
ESH
ESP
EST
ETH
FIN
FJI
FLK
FRA
FRO
FSM
GAB
GBR
GEO
GGY
GHA
GIB
GIN
GLP
GMB
GNB
GNQ
GRC
GRD
GRL
GTM
GUF
GUM
GUY
HKG
HND
HRV
HTI
HUN
IDN
IMN
IND
IRL
IRN
IRQ
ISL
ISR
ITA
JAM
JEY
JOR
JPN
KAZ
KEN
KGZ
KHM
KNA
KOR
KWT
LAO
LBN
LBR
LBY
LCA
LIE
LKA
LSO
LTU
LUX
LVA
MAC
MAR
MCO
MDA
MDG
MDV
MEX
MKD
MLI
MLT
MMR
MNE
MNG
MNP
MOZ
MRT
MSR
MTQ
MUS
MWI
MYS
MYT
NAM
NCL
NER
NGA
NIC
NLD
NOR
NPL
NZL
OMN
PAK
PAN
PER
PHL
PNG
POL
PRI
PRK
PRT
PRY
PSE
PYF
QAT
REU
ROU
RUS
RWA
SAU
SDN
SEN
SGP
SHN
SJM
SLB
SLE
SLV
SMR
SOM
SRB
SSD
STP
SUR
SVK
SVN
SWE
SWZ
SXM
SYC
SYR
TCA
TCD
TGO
THA
TJK
TKM
TLS
TON
TTO
TUN
TUR
TWN
TZA
UGA
UKR
URY
USA
UZB
VAT
VCT
VEN
VIR
VNM
VUT
WLF
WSM
XAR
XIT
XKK
XKO
XNC
YEM
ZAF
ZMB
ZWE

In [6]:
acled_monthly_adm0_time_series = acled_monthly_adm0_time_series.sort_values(by=["GID_0", "EVENT_DATE_MONTH"])
acled_monthly_adm0_time_series[["SUM(FATALITIES)", "SUM(COUNT_PRO)", "SUM(COUNT_SRZ)", "SUM(COUNT_STRA)", "NUMBER_EVENTS", "SUM(FATALITIES_PRO)", "SUM(FATALITIES_SRZ)", "SUM(FATALITIES_STRA)"]] = acled_monthly_adm0_time_series[["SUM(FATALITIES)", "SUM(COUNT_PRO)", "SUM(COUNT_SRZ)", "SUM(COUNT_STRA)", "NUMBER_EVENTS", "SUM(FATALITIES_PRO)", "SUM(FATALITIES_SRZ)", "SUM(FATALITIES_STRA)"]].fillna(0.0)

acled_monthly_adm0_time_series

,GID_0,EVENT_DATE_MONTH,UNREGION1,UNREGION2,LATITUDE,LONGITUDE,START_DATE,SUM(FATALITIES),SUM(COUNT_PRO),SUM(COUNT_SRZ),SUM(COUNT_STRA),SUM(FATALITIES_PRO),SUM(FATALITIES_SRZ),SUM(FATALITIES_STRA),NUMBER_EVENTS
0,ABW,2019-01-01,Caribbean,Americas,12.5240,-70.0270,2019-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,ABW,2019-02-01,Caribbean,Americas,12.5240,-70.0270,2019-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,ABW,2019-03-01,Caribbean,Americas,12.5240,-70.0270,2019-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,ABW,2019-04-01,Caribbean,Americas,12.5240,-70.0270,2019-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,ABW,2019-05-01,Caribbean,Americas,12.5240,-70.0270,2019-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16949,ZWE,2021-10-01,Eastern Africa,Africa,-17.3500,31.0667,1997-01-01,4.0,28.0,12.0,1.0,3.0,1.0,0.0,41.0
16950,ZWE,2021-11-01,Eastern Africa,Africa,-17.8277,31.0534,1997-01-01,1.0,12.0,8.0,0.0,1.0,0.0,0.0,20.0
16951,ZWE,2021-12-01,Eastern Africa,Africa,-18.9166,29.8167,1997-01-01,6.0,12.0,4.0,3.0,1.0,5.0,0.0,19.0
16952,ZWE,2022-01-01,Eastern Africa,Africa,-17.8277,31.0534,1997-01-01,2.0,7.0,5.0,2.0,2.0,0.0,0.0,14.0
16953,ZWE,2022-02-01,Eastern Africa,Africa,-17.8794,31.1244,1997-01-01,1.0,10.0,1.0,1.0,1.0,0.0,0.0,12.0

In [7]:
# acled_monthly_adm0.to_sql(name='TB005_ACLED_MONTHLY_ADM0_TIME_SERIES', con=conn)
# conn.close()

In [8]:
acled_monthly_adm0_time_series.to_csv("../data/TB005_ACLED_MONTHLY_ADM0_TIME_SERIES.csv", index=False)

In [9]:
acled_monthly_adm0_time_series

,GID_0,EVENT_DATE_MONTH,UNREGION1,UNREGION2,LATITUDE,LONGITUDE,START_DATE,SUM(FATALITIES),SUM(COUNT_PRO),SUM(COUNT_SRZ),SUM(COUNT_STRA),SUM(FATALITIES_PRO),SUM(FATALITIES_SRZ),SUM(FATALITIES_STRA),NUMBER_EVENTS
0,ABW,2019-01-01,Caribbean,Americas,12.5240,-70.0270,2019-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,ABW,2019-02-01,Caribbean,Americas,12.5240,-70.0270,2019-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,ABW,2019-03-01,Caribbean,Americas,12.5240,-70.0270,2019-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,ABW,2019-04-01,Caribbean,Americas,12.5240,-70.0270,2019-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,ABW,2019-05-01,Caribbean,Americas,12.5240,-70.0270,2019-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16949,ZWE,2021-10-01,Eastern Africa,Africa,-17.3500,31.0667,1997-01-01,4.0,28.0,12.0,1.0,3.0,1.0,0.0,41.0
16950,ZWE,2021-11-01,Eastern Africa,Africa,-17.8277,31.0534,1997-01-01,1.0,12.0,8.0,0.0,1.0,0.0,0.0,20.0
16951,ZWE,2021-12-01,Eastern Africa,Africa,-18.9166,29.8167,1997-01-01,6.0,12.0,4.0,3.0,1.0,5.0,0.0,19.0
16952,ZWE,2022-01-01,Eastern Africa,Africa,-17.8277,31.0534,1997-01-01,2.0,7.0,5.0,2.0,2.0,0.0,0.0,14.0
16953,ZWE,2022-02-01,Eastern Africa,Africa,-17.8794,31.1244,1997-01-01,1.0,10.0,1.0,1.0,1.0,0.0,0.0,12.0

### Monthly ACLED on ADM1 Level (Provinces)

In [10]:
import sqlite3
import pandas as pd
import numpy as np

In [11]:
# conn = sqlite3.connect("../data/01_ACLED.db")
# acled_monthly_adm1 = pd.read_sql_query("""
#     SELECT * FROM TB003_EVENT_OUTCOMES_MONTHLY_START_DATE ORDER BY GID_0, GID_1, EVENT_DATE_MONTH;
#     """, conn)
# acled_monthly_adm1.to_csv("../data/TB003_EVENT_OUTCOMES_MONTHLY_START_DATE.csv", index=False)
acled_monthly_adm1 = pd.read_csv("../data/TB003_EVENT_OUTCOMES_MONTHLY_START_DATE.csv")
acled_monthly_adm1

,GID_1,GID_0,UNREGION1,UNREGION2,LATITUDE,LONGITUDE,START_DATE,EVENT_DATE,EVENT_DATE_MONTH,EVENT_DATE_QUARTER,EVENT_DATE_YEAR,SUM(FATALITIES),SUM(COUNT_PRO),SUM(COUNT_SRZ),SUM(COUNT_STRA),NUMBER_EVENTS,SUM(FATALITIES_PRO),SUM(FATALITIES_SRZ),SUM(FATALITIES_STRA)
0,ABW.1_1,ABW,Caribbean,Americas,12.5240,-70.0270,2019-01-01,2019-09-27 00:00:00,2019-09-01,2019-07-01,2019,0,3,0,0,3,0,0,0
1,ABW.1_1,ABW,Caribbean,Americas,12.5240,-70.0270,2019-01-01,2020-03-17 00:00:00,2020-03-01,2020-01-01,2020,0,1,0,1,2,0,0,0
2,ABW.1_1,ABW,Caribbean,Americas,12.5240,-70.0270,2019-01-01,2020-05-20 00:00:00,2020-05-01,2020-04-01,2020,0,1,0,0,1,0,0,0
3,ABW.1_1,ABW,Caribbean,Americas,12.5240,-70.0270,2019-01-01,2020-07-03 00:00:00,2020-07-01,2020-07-01,2020,0,1,0,0,1,0,0,0
4,ABW.1_1,ABW,Caribbean,Americas,12.5240,-70.0270,2019-01-01,2020-08-25 00:00:00,2020-08-01,2020-07-01,2020,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16949,ZWE.9_1,ZWE,Eastern Africa,Africa,-21.2000,27.8500,1997-01-01,2019-03-25 00:00:00,2019-03-01,2019-01-01,2019,0,2,1,0,3,0,0,0
16950,ZWE.9_1,ZWE,Eastern Africa,Africa,-22.2167,29.9833,1997-01-01,2019-07-27 00:00:00,2019-07-01,2019-07-01,2019,1,6,1,0,7,0,1,0
16951,ZWE.9_1,ZWE,Eastern Africa,Africa,-20.9333,29.0000,1997-01-01,2020-07-31 00:00:00,2020-07-01,2020-07-01,2020,3,12,6,1,19,2,1,0
16952,ZWE.9_1,ZWE,Eastern Africa,Africa,-22.2233,29.9839,1997-01-01,2020-11-19 00:00:00,2020-11-01,2020-10-01,2020,5,4,1,1,6,4,1,0
16953,ZWE.9_1,ZWE,Eastern Africa,Africa,-22.2167,29.9833,1997-01-01,2020-12-29 00:00:00,2020-12-01,2020-10-01,2020,1,6,4,0,10,0,1,0

In [12]:
# format columns to datetime format
acled_monthly_adm1["START_DATE"]= pd.to_datetime(acled_monthly_adm1["START_DATE"])
acled_monthly_adm1["EVENT_DATE_MONTH"]= pd.to_datetime(acled_monthly_adm1["EVENT_DATE_MONTH"])

acled_monthly_adm1_time_series = list()

# insert a row for country
gid1 = acled_monthly_adm1['GID_1'].unique()
for g in gid1:
    # constant variables for each country
    start_date = acled_monthly_adm1[acled_monthly_adm1["GID_1"] == g]["START_DATE"].iloc[0]
    unregion1 = acled_monthly_adm1[acled_monthly_adm1["GID_1"] == g]["UNREGION1"].iloc[0]
    unregion2 = acled_monthly_adm1[acled_monthly_adm1["GID_1"] == g]["UNREGION2"].iloc[0]
    lat = acled_monthly_adm1[acled_monthly_adm1["GID_1"] == g]["LATITUDE"].iloc[0]
    long = acled_monthly_adm1[acled_monthly_adm1["GID_1"] == g]["LONGITUDE"].iloc[0]
    gid0 = acled_monthly_adm1[acled_monthly_adm1["GID_1"] == g]["GID_0"].iloc[0]

    print(g)
    sampled = acled_monthly_adm1[acled_monthly_adm1["GID_1"] == g][["EVENT_DATE_MONTH", "SUM(FATALITIES)", "SUM(COUNT_PRO)", "SUM(COUNT_SRZ)", "SUM(COUNT_STRA)", "NUMBER_EVENTS", "SUM(FATALITIES_PRO)", "SUM(FATALITIES_SRZ)", "SUM(FATALITIES_STRA)"]]
    # print(sampled)
    sampled = sampled.set_index(pd.DatetimeIndex(sampled["EVENT_DATE_MONTH"]))
    sampled = sampled.resample("MS").sum()
    sampled["EVENT_DATE_MONTH"] = sampled.index
    sampled[["GID_0", "GID_1", "UNREGION1", "UNREGION2", "LATITUDE", "LONGITUDE", "START_DATE"]] = [gid0, g, unregion1, unregion2, lat, long, start_date]
    
    # print(sampled.values.tolist())
    # print(sampled)

    acled_monthly_adm1_time_series.extend(sampled.values.tolist())
    # print(acled_monthly_adm1_time_series)

# turn list into df
acled_monthly_adm1_time_series = pd.DataFrame.from_records(acled_monthly_adm1_time_series, columns=["SUM(FATALITIES)", "SUM(COUNT_PRO)", "SUM(COUNT_SRZ)", "SUM(COUNT_STRA)", "NUMBER_EVENTS", "SUM(FATALITIES_PRO)", "SUM(FATALITIES_SRZ)", "SUM(FATALITIES_STRA)", "EVENT_DATE_MONTH", "GID_0", "GID_1", "UNREGION1", "UNREGION2", "LATITUDE", "LONGITUDE", "START_DATE"])
# print(acled_monthly_adm1_time_series)
acled_monthly_adm1_time_series = acled_monthly_adm1_time_series.reset_index(drop=True)
acled_monthly_adm1_time_series

ABW.1_1
AFG.10_1
AFG.11_1
AFG.12_1
AFG.13_1
AFG.14_1
AFG.15_1
AFG.16_1
AFG.17_1
AFG.18_1
AFG.19_1
AFG.1_1
AFG.20_1
AFG.21_1
AFG.22_1
AFG.25_1
AFG.26_1
AFG.28_1
AFG.31_1
AFG.33_1
AFG.34_1
AFG.4_1
AFG.6_1
AFG.7_1
AFG.8_1
AFG.9_1
AGO.10_1
AGO.11_1
AGO.12_1
AGO.13_1
AGO.14_1
AGO.15_1
AGO.16_1
AGO.17_1
AGO.18_1
AGO.1_1
AGO.2_1
AGO.3_1
AGO.4_1
AGO.5_1
AGO.6_1
AGO.7_1
AGO.8_1
AGO.9_1
AIA.1_1
ALA.12_1
ALB.10_1
ALB.11_1
ALB.12_1
ALB.1_1
ALB.2_1
ALB.3_1
ALB.4_1
ALB.5_1
ALB.7_1
ALB.8_1
ALB.9_1
AND.1_1
AND.2_1
ARE.1_1
ARE.3_1
ARG.11_1
ARG.13_1
ARG.15_1
ARG.16_1
ARG.17_1
ARG.18_1
ARG.19_1
ARG.1_1
ARG.20_1
ARG.21_1
ARG.22_1
ARG.24_1
ARG.2_1
ARG.3_1
ARG.4_1
ARG.5_1
ARG.6_1
ARG.7_1
ARM.10_1
ARM.11_1
ARM.1_1
ARM.2_1
ARM.3_1
ARM.4_1
ARM.5_1
ARM.7_1
ARM.8_1
ARM.9_1
ASM.1_1
ASM.4_1
ATA.1_1
ATG.3_1
ATG.4_1
ATG.5_1
ATG.7_1
AUS.10_1
AUS.2_1
AUS.5_1
AUS.7_1
AUS.8_1
AUT.3_1
AUT.5_1
AUT.6_1
AUT.7_1
AUT.8_1
AUT.9_1
AZE.10_1
AZE.1_1
AZE.2_1
AZE.4_1
AZE.5_1
AZE.6_1
AZE.9_1
BDI.10_1
BDI.11_1
BDI.12_1
BDI.13_1
BDI.14_1
BDI.15_1
BDI.16_1
BDI.17_1
BDI.1_1
BDI.2_1
BDI.3_1
BDI.4_1
BDI.5_1
BDI.6_1
BDI.7_1
BDI.8_1
BDI.9_1
BEL.1_1
BEL.2_1
BEL.3_1
BEN.10_1
BEN.11_1
BEN.12_1
BEN.1_1
BEN.2_1
BEN.3_1
BEN.4_1
BEN.5_1
BEN.6_1
BEN.7_1
BEN.8_1
BEN.9_1
BES.1_1
BES.2_1
BES.3_1
BFA.10_1
BFA.11_1
BFA.12_1
BFA.13_1
BFA.1_1
BFA.2_1
BFA.3_1
BFA.4_1
BFA.5_1
BFA.7_1
BFA.8_1
BFA.9_1
BGD.1_1
BGD.2_1
BGD.3_1
BGD.4_1
BGD.5_1
BGD.6_1
BGD.7_1
BGR.10_1
BGR.14_1
BGR.15_1
BGR.16_1
BGR.19_1
BGR.1_1
BGR.21_1
BGR.25_1
BGR.28_1
BGR.2_1
BGR.5_1
BGR.6_1
BGR.8_1
BHR.1_1
BHR.2_1
BHR.3_1
BHR.4_1
BHR.5_1
BHS.16_1
BHS.21_1
BHS.25_1
BHS.32_1
BHS.3_1
BHS.4_1
BHS.6_1
BIH.1_1
BIH.2_1
BIH.3_1
BLM.1_1
BLR.1_1
BLR.2_1
BLR.3_1
BLR.4_1
BLR.5_1
BLR.6_1
BLZ.1_1
BLZ.2_1
BLZ.3_1
BLZ.4_1
BLZ.5_1
BLZ.6_1
BMU.3_1
BOL.1_1
BOL.2_1
BOL.3_1
BOL.4_1
BOL.5_1
BOL.7_1
BOL.8_1
BOL.9_1
BRA.11_1
BRA.12_1
BRA.13_1
BRA.14_1
BRA.15_1
BRA.16_1
BRA.17_1
BRA.18_1
BRA.19_1
BRA.1_1
BRA.20_1
BRA.21_1
BRA.23_1
BRA.24_1
BRA.25_1
BRA.26_1
BRA.27_1
BRA.2_1
BRA.4_1
BRA.5_1
BRA.6_1
BRA.8_1
BRA.9_1
BRB.10_1
BRB.1_1
BRB.8_1
BRN.2_1
BTN.11_1
BTN.12_1
BTN.14_1
BTN.20_1
BTN.2_1
BWA.12_1
BWA.14_1
BWA.1_1
BWA.2_1
BWA.3_1
BWA.4_1
BWA.8_1
BWA.9_1
CAF.10_1
CAF.11_1
CAF.12_1
CAF.13_1
CAF.14_1
CAF.15_1
CAF.17_1
CAF.1_1
CAF.2_1
CAF.3_1
CAF.4_1
CAF.5_1
CAF.6_1
CAF.7_1
CAF.8_1
CAF.9_1
CAN.11_1
CAN.1_1
CAN.2_1
CAN.9_1
CHE.13_1
CHE.23_1
CHE.24_1
CHE.26_1
CHE.5_1
CHE.6_1
CHE.8_1
CHL.10_1
CHL.11_1
CHL.12_1
CHL.13_1
CHL.14_1
CHL.16_1
CHL.2_1
CHL.3_1
CHL.6_1
CHN.10_1
CHN.11_1
CHN.12_1
CHN.13_1
CHN.14_1
CHN.15_1
CHN.16_1
CHN.17_1
CHN.18_1
CHN.22_1
CHN.23_1
CHN.24_1
CHN.26_1
CHN.28_1
CHN.29_1
CHN.2_1
CHN.30_1
CHN.31_1
CHN.3_1
CHN.4_1
CHN.5_1
CIV.10_1
CIV.11_1
CIV.12_1
CIV.13_1
CIV.14_1
CIV.1_1
CIV.2_1
CIV.3_1
CIV.4_1
CIV.5_1
CIV.6_1
CIV.7_1
CIV.8_1
CIV.9_1
CMR.10_1
CMR.1_1
CMR.2_1
CMR.3_1
CMR.4_1
CMR.5_1
CMR.6_1
CMR.7_1
CMR.8_1
CMR.9_1
COD.10_1
COD.11_1
COD.12_1
COD.13_1
COD.14_1
COD.17_1
COD.18_1
COD.19_1
COD.1_1
COD.20_1
COD.21_1
COD.22_1
COD.23_1
COD.24_1
COD.25_1
COD.2_1
COD.3_1
COD.4_1
COD.5_1
COD.6_1
COD.7_1
COD.8_1
COD.9_1
COG.10_1
COG.11_1
COG.12_1
COG.1_1
COG.2_1
COG.4_1
COG.5_1
COG.6_1
COG.7_1
COG.8_1
COG.9_1
COK.1_1
COL.10_1
COL.12_1
COL.13_1
COL.14_1
COL.17_1
COL.18_1
COL.19_1
COL.20_1
COL.21_1
COL.22_1
COL.23_1
COL.25_1
COL.2_1
COL.30_1
COL.3_1
COL.5_1
COL.8_1
COM.1_1
COM.2_1
COM.3_1
CPV.11_1
CPV.12_1
CPV.14_1
CPV.15_1
CPV.16_1
CPV.1_1
CPV.20_1
CPV.6_1
CPV.7_1
CRI.1_1
CRI.2_1
CRI.3_1
CRI.4_1
CRI.5_1
CRI.6_1
CRI.7_1
CUB.10_1
CUB.14_1
CUB.15_1
CUB.16_1
CUB.1_1
CUB.4_1
CUB.5_1
CUB.6_1
CUB.7_1
CUB.9_1
CUW.1_1
CYM.4_1
CYP.1_1
CYP.2_1
CYP.3_1
CYP.4_1
CYP.5_1
CZE.11_1
CZE.13_1
CZE.1_1
CZE.2_1
CZE.3_1
CZE.5_1
CZE.7_1
CZE.8_1
DEU.10_1
DEU.11_1
DEU.13_1
DEU.14_1
DEU.2_1
DEU.3_1
DEU.5_1
DEU.7_1
DEU.8_1
DEU.9_1
DJI.1_1
DJI.2_1
DJI.3_1
DJI.4_1
DJI.5_1
DMA.1_1
DMA.2_1
DMA.3_1
DMA.4_1
DMA.5_1
DMA.7_1
DMA.8_1
DMA.9_1
DNK.1_1
DNK.2_1
DNK.3_1
DNK.4_1
DNK.5_1
DOM.10_1
DOM.11_1
DOM.13_1
DOM.14_1
DOM.19_1
DOM.22_1
DOM.24_1
DOM.26_1
DOM.27_1
DOM.30_1
DOM.31_1
DOM.32_1
DOM.3_1
DOM.4_1
DOM.5_1
DOM.6_1
DOM.7_1
DOM.8_1
DOM.9_1
DZA.10_1
DZA.11_1
DZA.12_1
DZA.13_1
DZA.14_1
DZA.15_1
DZA.16_1
DZA.18_1
DZA.19_1
DZA.1_1
DZA.20_1
DZA.22_1
DZA.23_1
DZA.25_1
DZA.26_1
DZA.27_1
DZA.28_1
DZA.29_1
DZA.2_1
DZA.32_1
DZA.33_1
DZA.35_1
DZA.36_1
DZA.38_1
DZA.39_1
DZA.3_1
DZA.41_1
DZA.42_1
DZA.43_1
DZA.44_1
DZA.45_1
DZA.46_1
DZA.47_1
DZA.48_1
DZA.4_1
DZA.5_1
DZA.6_1
DZA.7_1
DZA.8_1
DZA.9_1
ECU.10_1
ECU.12_1
ECU.13_1
ECU.14_1
ECU.18_1
ECU.19_1
ECU.1_1
ECU.23_1
ECU.2_1
ECU.4_1
ECU.5_1
ECU.6_1
ECU.8_1
EGY.10_1
EGY.11_1
EGY.12_1
EGY.13_1
EGY.14_1
EGY.15_1
EGY.16_1
EGY.17_1
EGY.18_1
EGY.19_1
EGY.1_1
EGY.20_1
EGY.21_1
EGY.22_1
EGY.23_1
EGY.24_1
EGY.25_1
EGY.26_1
EGY.27_1
EGY.2_1
EGY.3_1
EGY.4_1
EGY.5_1
EGY.6_1
EGY.7_1
EGY.8_1
EGY.9_1
ERI.1_1
ERI.2_1
ERI.3_1
ERI.4_1
ERI.5_1
ERI.6_1
ESH.1_1
ESH.2_1
ESH.3_1
ESH.4_1
ESP.10_1
ESP.12_1
ESP.14_1
ESP.15_1
ESP.16_1
ESP.18_1
ESP.1_1
ESP.5_1
ESP.6_1
ESP.7_1
ESP.8_1
ESP.9_1
EST.12_1
EST.13_1
EST.1_1
EST.3_1
EST.7_1
ETH.10_1
ETH.11_1
ETH.1_1
ETH.2_1
ETH.3_1
ETH.4_1
ETH.5_1
ETH.6_1
ETH.7_1
ETH.8_1
ETH.9_1
FIN.3_1
FIN.4_1
FIN.5_1
FJI.1_1
FJI.5_1
FLK.1_1
FRA.10_1
FRA.11_1
FRA.12_1
FRA.13_1
FRA.1_1
FRA.2_1
FRA.3_1
FRA.6_1
FRA.7_1
FRA.8_1
FRA.9_1
FRO.4_1
FSM.3_1
GAB.1_1
GAB.2_1
GAB.3_1
GAB.4_1
GAB.5_1
GAB.6_1
GAB.7_1
GAB.8_1
GAB.9_1
GBR.1_1
GBR.2_1
GBR.3_1
GEO.10_1
GEO.11_1
GEO.12_1
GEO.1_1
GEO.2_1
GEO.4_1
GEO.5_1
GEO.6_1
GEO.8_1
GEO.9_1
GGY.9_1
GHA.10_1
GHA.1_1
GHA.2_1
GHA.3_1
GHA.4_1
GHA.5_1
GHA.6_1
GHA.7_1
GHA.8_1
GHA.9_1
GIB.1_1
GIN.1_1
GIN.2_1
GIN.3_1
GIN.4_1
GIN.5_1
GIN.6_1
GIN.7_1
GIN.8_1
GLP.1_1
GLP.2_1
GMB.1_1
GMB.2_1
GMB.3_1
GMB.4_1
GMB.5_1
GMB.6_1
GNB.1_1
GNB.2_1
GNB.3_1
GNB.4_1
GNB.5_1
GNB.6_1
GNB.7_1
GNB.8_1
GNQ.2_1
GNQ.3_1
GNQ.4_1
GNQ.5_1
GNQ.6_1
GNQ.7_1
GRC.1_1
GRC.3_1
GRC.4_1
GRC.5_1
GRC.6_1
GRC.7_1
GRC.8_1
GRD.4_1
GRD.5_1
GRL.1_1
GRL.5_1
GTM.10_1
GTM.11_1
GTM.12_1
GTM.15_1
GTM.16_1
GTM.17_1
GTM.18_1
GTM.19_1
GTM.1_1
GTM.22_1
GTM.2_1
GTM.3_1
GTM.4_1
GTM.5_1
GTM.6_1
GTM.7_1
GTM.8_1
GTM.9_1
GUF.1_1
GUF.2_1
GUM.16_1
GUM.4_1
GUM.7_1
GUY.1_1
GUY.2_1
GUY.3_1
GUY.4_1
GUY.5_1
GUY.6_1
GUY.7_1
GUY.9_1
HKG.10_1
HKG.12_1
HKG.15_1
HKG.17_1
HKG.18_1
HKG.1_1
HKG.2_1
HKG.4_1
HKG.5_1
HKG.6_1
HKG.7_1
HKG.8_1
HND.11_1
HND.13_1
HND.15_1
HND.16_1
HND.18_1
HND.1_1
HND.3_1
HND.5_1
HND.6_1
HND.8_1
HND.9_1
HRV.13_1
HRV.14_1
HRV.15_1
HRV.16_1
HRV.19_1
HRV.1_1
HRV.20_1
HRV.2_1
HRV.3_1
HRV.4_1
HRV.5_1
HRV.6_1
HRV.9_1
HTI.1_1
HTI.3_1
HTI.5_1
HTI.7_1
HTI.8_1
HTI.9_1
HUN.19_1
HUN.3_1
HUN.5_1
HUN.9_1
IDN.10_1
IDN.11_1
IDN.13_1
IDN.15_1
IDN.17_1
IDN.19_1
IDN.1_1
IDN.21_1
IDN.22_1
IDN.23_1
IDN.25_1
IDN.27_1
IDN.29_1
IDN.32_1
IDN.33_1
IDN.4_1
IDN.6_1
IDN.7_1
IDN.8_1
IDN.9_1
IMN.3_1
IMN.5_1
IND.11_1
IND.14_1
IND.15_1
IND.19_1
IND.21_1
IND.23_1
IND.26_1
IND.28_1
IND.29_1
IND.2_1
IND.31_1
IND.32_1
IND.33_1
IND.34_1
IND.36_1
IND.3_1
IND.4_1
IND.5_1
IND.7_1
IRL.15_1
IRL.17_1
IRL.19_1
IRL.23_1
IRL.26_1
IRL.2_1
IRL.3_1
IRL.4_1
IRL.5_1
IRL.6_1
IRN.10_1
IRN.11_1
IRN.12_1
IRN.13_1
IRN.14_1
IRN.15_1
IRN.17_1
IRN.18_1
IRN.1_1
IRN.24_1
IRN.26_1
IRN.28_1
IRN.29_1
IRN.3_1
IRN.5_1
IRN.6_1
IRN.7_1
IRN.8_1
IRQ.10_1
IRQ.11_1
IRQ.12_1
IRQ.13_1
IRQ.15_1
IRQ.16_1
IRQ.17_1
IRQ.18_1
IRQ.1_1
IRQ.2_1
IRQ.6_1
IRQ.7_1
IRQ.8_1
IRQ.9_1
ISL.3_1
ISL.8_1
ISR.1_1
ISR.2_1
ISR.3_1
ISR.4_1
ISR.5_1
ISR.6_1
ISR.7_1
ITA.10_1
ITA.13_1
ITA.14_1
ITA.15_1
ITA.16_1
ITA.20_1
ITA.2_1
ITA.4_1
ITA.5_1
ITA.8_1
JAM.10_1
JAM.11_1
JAM.12_1
JAM.13_1
JAM.14_1
JAM.1_1
JAM.2_1
JAM.3_1
JAM.4_1
JAM.5_1
JAM.6_1
JAM.7_1
JAM.8_1
JAM.9_1
JEY.2_1
JEY.4_1
JOR.10_1
JOR.11_1
JOR.12_1
JOR.2_1
JOR.3_1
JOR.4_1
JOR.5_1
JOR.6_1
JOR.7_1
JOR.9_1
JPN.19_1
JPN.1_1
JPN.22_1
JPN.24_1
JPN.27_1
JPN.32_1
JPN.33_1
JPN.35_1
JPN.41_1
JPN.4_1
JPN.6_1
KAZ.10_1
KAZ.11_1
KAZ.12_1
KAZ.13_1
KAZ.14_1
KAZ.1_1
KAZ.2_1
KAZ.3_1
KAZ.6_1
KAZ.8_1
KAZ.9_1
KEN.10_1
KEN.11_1
KEN.12_1
KEN.13_1
KEN.14_1
KEN.15_1
KEN.16_1
KEN.17_1
KEN.18_1
KEN.19_1
KEN.1_1
KEN.20_1
KEN.21_1
KEN.22_1
KEN.23_1
KEN.24_1
KEN.25_1
KEN.26_1
KEN.27_1
KEN.28_1
KEN.29_1
KEN.30_1
KEN.31_1
KEN.32_1
KEN.33_1
KEN.34_1
KEN.35_1
KEN.36_1
KEN.37_1
KEN.38_1
KEN.39_1
KEN.3_1
KEN.40_1
KEN.42_1
KEN.43_1
KEN.44_1
KEN.46_1
KEN.47_1
KEN.4_1
KEN.5_1
KEN.6_1
KEN.7_1
KEN.8_1
KEN.9_1
KGZ.1_1
KGZ.2_1
KGZ.3_1
KGZ.4_1
KGZ.5_1
KGZ.6_1
KGZ.7_1
KGZ.8_1
KHM.11_1
KHM.12_1
KHM.13_1
KHM.14_1
KHM.15_1
KHM.16_1
KHM.17_1
KHM.18_1
KHM.19_1
KHM.1_1
KHM.20_1
KHM.21_1
KHM.22_1
KHM.23_1
KHM.25_1
KHM.2_1
KHM.3_1
KHM.4_1
KHM.5_1
KHM.6_1
KHM.7_1
KHM.8_1
KHM.9_1
KNA.3_1
KOR.10_1
KOR.11_1
KOR.12_1
KOR.13_1
KOR.14_1
KOR.16_1
KOR.1_1
KOR.2_1
KOR.6_1
KOR.7_1
KOR.8_1
KOR.9_1
KWT.1_1
KWT.2_1
KWT.3_1
KWT.4_1
KWT.6_1
LAO.11_1
LAO.12_1
LAO.13_1
LAO.14_1
LAO.16_1
LAO.18_1
LAO.2_1
LAO.4_1
LAO.6_1
LAO.8_1
LBN.1_1
LBN.2_1
LBN.3_1
LBN.4_1
LBN.5_1
LBN.6_1
LBN.7_1
LBN.8_1
LBR.10_1
LBR.11_1
LBR.12_1
LBR.13_1
LBR.14_1
LBR.15_1
LBR.1_1
LBR.2_1
LBR.3_1
LBR.4_1
LBR.5_1
LBR.6_1
LBR.7_1
LBR.8_1
LBR.9_1
LBY.10_1
LBY.11_1
LBY.12_1
LBY.13_1
LBY.14_1
LBY.15_1
LBY.16_1
LBY.17_1
LBY.18_1
LBY.19_1
LBY.1_1
LBY.20_1
LBY.21_1
LBY.22_1
LBY.3_1
LBY.4_1
LBY.5_1
LBY.6_1
LBY.8_1
LBY.9_1
LCA.10_1
LCA.3_1
LCA.5_1
LCA.6_1
LIE.11_1
LIE.6_1
LKA.10_1
LKA.11_1
LKA.12_1
LKA.13_1
LKA.14_1
LKA.15_1
LKA.17_1
LKA.18_1
LKA.19_1
LKA.1_1
LKA.20_1
LKA.21_1
LKA.22_1
LKA.23_1
LKA.24_1
LKA.25_1
LKA.2_1
LKA.3_1
LKA.4_1
LKA.5_1
LKA.6_1
LKA.7_1
LKA.8_1
LKA.9_1
LSO.1_1
LSO.2_1
LSO.3_1
LSO.4_1
LSO.5_1
LSO.6_1
LSO.7_1
LTU.10_1
LTU.2_1
LTU.3_1
LUX.2_1
LUX.3_1
LVA.2_1
LVA.3_1
MAC.2_1
MAR.10_1
MAR.11_1
MAR.12_1
MAR.13_1
MAR.14_1
MAR.15_1
MAR.1_1
MAR.2_1
MAR.3_1
MAR.4_1
MAR.5_1
MAR.6_1
MAR.8_1
MAR.9_1
MCO.1_1
MDA.10_1
MDA.13_1
MDA.15_1
MDA.16_1
MDA.19_1
MDA.22_1
MDA.31_1
MDA.33_1
MDA.36_1
MDA.4_1
MDA.7_1
MDA.9_1
MDG.1_1
MDG.2_1
MDG.3_1
MDG.4_1
MDG.5_1
MDG.6_1
MDV.1_1
MEX.11_1
MEX.12_1
MEX.14_1
MEX.15_1
MEX.16_1
MEX.17_1
MEX.19_1
MEX.20_1
MEX.21_1
MEX.23_1
MEX.25_1
MEX.26_1
MEX.27_1
MEX.28_1
MEX.2_1
MEX.30_1
MEX.32_1
MEX.3_1
MEX.5_1
MEX.6_1
MEX.7_1
MEX.8_1
MEX.9_1
MKD.10_1
MKD.15_1
MKD.33_1
MKD.35_1
MKD.38_1
MKD.40_1
MKD.41_1
MKD.4_1
MKD.52_1
MKD.57_1
MKD.69_1
MKD.74_1
MLI.1_1
MLI.2_1
MLI.3_1
MLI.4_1
MLI.5_1
MLI.6_1
MLI.7_1
MLI.8_1
MLI.9_1
MLT.1_1
MLT.2_1
MLT.3_1
MLT.4_1
MLT.5_1
MMR.11_1
MMR.12_1
MMR.13_1
MMR.14_1
MMR.15_1
MMR.1_1
MMR.2_1
MMR.3_1
MMR.4_1
MMR.6_1
MMR.7_1
MMR.8_1
MMR.9_1
MNE.10_1
MNE.12_1
MNE.13_1
MNE.14_1
MNE.15_1
MNE.16_1
MNE.17_1
MNE.18_1
MNE.20_1
MNE.2_1
MNE.3_1
MNE.4_1
MNE.5_1
MNE.6_1
MNE.8_1
MNE.9_1
MNG.20_1
MNG.21_1
MNG.22_1
MNG.8_1
MNP.3_1
MOZ.10_1
MOZ.11_1
MOZ.1_1
MOZ.2_1
MOZ.3_1
MOZ.4_1
MOZ.5_1
MOZ.6_1
MOZ.7_1
MOZ.8_1
MOZ.9_1
MRT.10_1
MRT.11_1
MRT.12_1
MRT.13_1
MRT.1_1
MRT.2_1
MRT.3_1
MRT.4_1
MRT.5_1
MRT.6_1
MRT.7_1
MRT.8_1
MSR.3_1
MTQ.1_1
MTQ.2_1
MTQ.3_1
MUS.10_1
MUS.2_1
MUS.3_1
MUS.4_1
MUS.5_1
MUS.6_1
MUS.7_1
MUS.8_1
MUS.9_1
MWI.11_1
MWI.12_1
MWI.13_1
MWI.14_1
MWI.15_1
MWI.16_1
MWI.17_1
MWI.18_1
MWI.19_1
MWI.20_1
MWI.21_1
MWI.22_1
MWI.25_1
MWI.26_1
MWI.27_1
MWI.28_1
MWI.2_1
MWI.3_1
MWI.4_1
MWI.5_1
MWI.6_1
MWI.7_1
MWI.8_1
MWI.9_1
MYS.10_1
MYS.11_1
MYS.12_1
MYS.13_1
MYS.14_1
MYS.15_1
MYS.16_1
MYS.1_1
MYS.2_1
MYS.4_1
MYS.6_1
MYS.7_1
MYS.8_1
MYS.9_1
MYT.10_1
MYT.11_1
MYT.12_1
MYT.14_1
MYT.15_1
MYT.17_1
MYT.2_1
MYT.3_1
MYT.7_1
MYT.8_1
NAM.10_1
NAM.11_1
NAM.12_1
NAM.13_1
NAM.1_1
NAM.2_1
NAM.3_1
NAM.4_1
NAM.5_1
NAM.6_1
NAM.7_1
NAM.8_1
NAM.9_1
NCL.1_1
NCL.2_1
NCL.3_1
NER.1_1
NER.2_1
NER.3_1
NER.4_1
NER.5_1
NER.6_1
NER.7_1
NER.8_1
NGA.10_1
NGA.11_1
NGA.12_1
NGA.13_1
NGA.14_1
NGA.15_1
NGA.17_1
NGA.18_1
NGA.19_1
NGA.1_1
NGA.20_1
NGA.21_1
NGA.22_1
NGA.23_1
NGA.24_1
NGA.25_1
NGA.26_1
NGA.27_1
NGA.28_1
NGA.29_1
NGA.2_1
NGA.30_1
NGA.31_1
NGA.32_1
NGA.33_1
NGA.34_1
NGA.35_1
NGA.36_1
NGA.37_1
NGA.3_1
NGA.4_1
NGA.5_1
NGA.6_1
NGA.7_1
NGA.8_1
NGA.9_1
NIC.11_1
NIC.13_1
NIC.14_1
NIC.15_1
NIC.17_1
NIC.1_1
NIC.2_1
NIC.4_1
NIC.5_1
NIC.7_1
NIC.9_1
NLD.10_1
NLD.11_1
NLD.14_1
NLD.1_1
NLD.4_1
NLD.5_1
NLD.7_1
NLD.8_1
NLD.9_1
NOR.11_1
NOR.12_1
NOR.14_1
NOR.15_1
NOR.18_1
NOR.1_1
NOR.3_1
NOR.7_1
NOR.8_1
NOR.9_1
NPL.1_1
NPL.2_1
NPL.3_1
NPL.4_1
NPL.5_1
NZL.12_1
NZL.17_1
NZL.18_1
NZL.1_1
NZL.2_1
NZL.3_1
NZL.7_1
OMN.11_1
OMN.1_1
OMN.9_1
PAK.1_1
PAK.2_1
PAK.3_1
PAK.4_1
PAK.5_1
PAK.7_1
PAK.8_1
PAN.10_1
PAN.11_1
PAN.12_1
PAN.13_1
PAN.1_1
PAN.2_1
PAN.4_1
PAN.7_1
PAN.8_1
PAN.9_1
PER.10_1
PER.11_1
PER.12_1
PER.14_1
PER.15_1
PER.16_1
PER.17_1
PER.20_1
PER.21_1
PER.22_1
PER.24_1
PER.25_1
PER.26_1
PER.2_1
PER.3_1
PER.4_1
PER.5_1
PER.7_1
PER.9_1
PHL.12_1
PHL.15_1
PHL.16_1
PHL.17_1
PHL.18_1
PHL.19_1
PHL.1_1
PHL.24_1
PHL.25_1
PHL.28_1
PHL.2_1
PHL.34_1
PHL.36_1
PHL.37_1
PHL.39_1
PHL.40_1
PHL.42_1
PHL.43_1
PHL.44_1
PHL.45_1
PHL.46_1
PHL.47_1
PHL.49_1
PHL.51_1
PHL.52_1
PHL.55_1
PHL.5_1
PHL.60_1
PHL.62_1
PHL.64_1
PHL.68_1
PHL.70_1
PHL.73_1
PHL.76_1
PHL.80_1
PHL.9_1
PNG.11_1
PNG.13_1
PNG.15_1
PNG.16_1
PNG.18_1
PNG.22_1
PNG.2_1
PNG.3_1
PNG.5_1
PNG.9_1
POL.10_1
POL.11_1
POL.14_1
POL.15_1
POL.16_1
POL.1_1
POL.4_1
POL.6_1
POL.7_1
PRI.11_1
PRI.13_1
PRI.16_1
PRI.17_1
PRI.18_1
PRI.19_1
PRI.27_1
PRI.32_1
PRI.33_1
PRI.35_1
PRI.39_1
PRI.40_1
PRI.45_1
PRI.46_1
PRI.47_1
PRI.4_1
PRI.50_1
PRI.54_1
PRI.58_1
PRI.62_1
PRI.64_1
PRI.65_1
PRI.66_1
PRI.6_1
PRI.71_1
PRI.74_1
PRI.8_1
PRK.10_1
PRK.11_1
PRK.13_1
PRK.1_1
PRK.2_1
PRK.5_1
PRK.6_1
PRK.8_1
PRK.9_1
PRT.12_1
PRT.14_1
PRT.15_1
PRT.17_1
PRT.18_1
PRT.20_1
PRT.3_1
PRT.4_1
PRT.6_1
PRT.7_1
PRT.9_1
PRY.10_1
PRY.14_1
PRY.16_1
PRY.18_1
PRY.2_1
PRY.3_1
PRY.4_1
PRY.5_1
PRY.6_1
PRY.7_1
PRY.8_1
PRY.9_1
PSE.1_1
PSE.2_1
PYF.2_1
PYF.3_1
QAT.1_1
QAT.5_1
QAT.6_1
REU.1_1
REU.2_1
REU.3_1
REU.4_1
ROU.10_1
ROU.11_1
ROU.12_1
ROU.14_1
ROU.15_1
ROU.16_1
ROU.17_1
ROU.19_1
ROU.20_1
ROU.24_1
ROU.29_1
ROU.31_1
ROU.35_1
ROU.36_1
ROU.38_1
ROU.6_1
ROU.7_1
ROU.9_1
RUS.14_1
RUS.15_1
RUS.17_1
RUS.1_1
RUS.20_1
RUS.25_1
RUS.27_1
RUS.28_1
RUS.34_1
RUS.35_1
RUS.3_1
RUS.43_1
RUS.48_1
RUS.58_1
RUS.63_1
RUS.65_1
RUS.67_1
RUS.68_1
RUS.69_1
RUS.73_1
RUS.78_1
RUS.81_1
RUS.9_1
RWA.1_1
RWA.2_1
RWA.3_1
RWA.4_1
RWA.5_1
SAU.10_1
SAU.11_1
SAU.12_1
SAU.1_1
SAU.5_1
SAU.7_1
SAU.8_1
SDN.11_1
SDN.12_1
SDN.13_1
SDN.14_1
SDN.15_1
SDN.16_1
SDN.17_1
SDN.18_1
SDN.1_1
SDN.2_1
SDN.3_1
SDN.4_1
SDN.5_1
SDN.6_1
SDN.7_1
SDN.8_1
SDN.9_1
SEN.10_1
SEN.11_1
SEN.12_1
SEN.13_1
SEN.14_1
SEN.1_1
SEN.2_1
SEN.3_1
SEN.5_1
SEN.6_1
SEN.7_1
SEN.8_1
SEN.9_1
SGP.1_1
SHN.2_1
SJM.2_1
SLB.10_1
SLB.3_1
SLB.4_1
SLB.5_1
SLB.7_1
SLE.1_1
SLE.2_1
SLE.3_1
SLE.4_1
SLV.10_1
SLV.12_1
SLV.13_1
SLV.14_1
SLV.1_1
SLV.5_1
SLV.6_1
SLV.7_1
SLV.8_1
SLV.9_1
SMR.2_1
SOM.10_1
SOM.11_1
SOM.12_1
SOM.13_1
SOM.14_1
SOM.15_1
SOM.16_1
SOM.17_1
SOM.18_1
SOM.2_1
SOM.3_1
SOM.4_1
SOM.5_1
SOM.6_1
SOM.7_1
SOM.8_1
SOM.9_1
SRB.10_1
SRB.12_1
SRB.15_1
SRB.16_1
SRB.19_1
SRB.1_1
SRB.20_1
SRB.21_1
SRB.22_1
SRB.25_1
SRB.3_1
SRB.4_1
SRB.5_1
SRB.6_1
SRB.7_1
SSD.10_1
SSD.11_1
SSD.12_1
SSD.1_1
SSD.2_1
SSD.3_1
SSD.4_1
SSD.5_1
SSD.6_1
SSD.7_1
SSD.8_1
SSD.9_1
STP.1_1
STP.2_1
SUR.10_1
SUR.1_1
SUR.2_1
SUR.4_1
SUR.5_1
SUR.6_1
SUR.7_1
SUR.8_1
SUR.9_1
SVK.1_1
SVK.2_1
SVK.5_1
SVK.6_1
SVK.7_1
SVK.8_1
SVN.10_1
SVN.1_1
SVN.3_1
SVN.6_1
SVN.7_1
SVN.8_1
SWE.12_1
SWE.13_1
SWE.15_1
SWE.19_1
SWE.20_1
SWE.21_1
SWE.2_1
SWE.3_1
SWE.4_1
SWE.7_1
SWE.8_1
SWZ.1_1
SWZ.2_1
SWZ.3_1
SWZ.4_1
SXM.1_1
SYC.2_1
SYC.9_1
SYR.10_1
SYR.13_1
SYR.1_1
SYR.2_1
SYR.3_1
SYR.5_1
SYR.6_1
SYR.7_1
SYR.8_1
SYR.9_1
TCA.1_1
TCA.4_1
TCD.10_1
TCD.11_1
TCD.12_1
TCD.13_1
TCD.14_1
TCD.15_1
TCD.16_1
TCD.17_1
TCD.18_1
TCD.19_1
TCD.1_1
TCD.20_1
TCD.21_1
TCD.22_1
TCD.23_1
TCD.2_1
TCD.3_1
TCD.4_1
TCD.6_1
TCD.7_1
TCD.8_1
TCD.9_1
TGO.1_1
TGO.2_1
TGO.3_1
TGO.4_1
TGO.5_1
THA.23_1
THA.27_1
THA.31_1
THA.33_1
THA.38_1
THA.3_1
THA.40_1
THA.42_1
THA.46_1
THA.50_1
THA.52_1
THA.53_1
THA.57_1
THA.64_1
THA.69_1
THA.6_1
THA.72_1
THA.76_1
THA.9_1
TJK.1_1
TJK.2_1
TJK.3_1
TJK.4_1
TKM.2_1
TKM.3_1
TKM.4_1
TKM.5_1
TLS.3_1
TLS.7_1
TLS.9_1
TON.4_1
TTO.10_1
TTO.11_1
TTO.12_1
TTO.13_1
TTO.14_1
TTO.15_1
TTO.1_1
TTO.2_1
TTO.3_1
TTO.4_1
TTO.5_1
TTO.6_1
TTO.7_1
TTO.8_1
TTO.9_1
TUN.10_1
TUN.11_1
TUN.12_1
TUN.14_1
TUN.15_1
TUN.16_1
TUN.17_1
TUN.18_1
TUN.19_1
TUN.1_1
TUN.20_1
TUN.21_1
TUN.22_1
TUN.23_1
TUN.24_1
TUN.3_1
TUN.5_1
TUN.6_1
TUN.7_1
TUN.8_1
TUN.9_1
TUR.14_1
TUR.17_1
TUR.18_1
TUR.1_1
TUR.21_1
TUR.22_1
TUR.26_1
TUR.28_1
TUR.33_1
TUR.36_1
TUR.38_1
TUR.40_1
TUR.41_1
TUR.42_1
TUR.48_1
TUR.4_1
TUR.52_1
TUR.57_1
TUR.58_1
TUR.59_1
TUR.69_1
TUR.71_1
TUR.73_1
TUR.75_1
TUR.76_1
TUR.78_1
TUR.7_1
TUR.8_1
TWN.2_1
TWN.3_1
TWN.4_1
TWN.5_1
TWN.6_1
TWN.7_1
TZA.10_1
TZA.11_1
TZA.12_1
TZA.13_1
TZA.14_1
TZA.15_1
TZA.16_1
TZA.17_1
TZA.18_1
TZA.19_1
TZA.1_1
TZA.20_1
TZA.21_1
TZA.22_1
TZA.23_1
TZA.24_1
TZA.25_1
TZA.26_1
TZA.27_1
TZA.28_1
TZA.29_1
TZA.2_1
TZA.30_1
TZA.3_1
TZA.4_1
TZA.5_1
TZA.6_1
TZA.8_1
TZA.9_1
UGA.10_1
UGA.11_1
UGA.12_1
UGA.13_1
UGA.16_1
UGA.17_1
UGA.18_1
UGA.19_1
UGA.1_1
UGA.20_1
UGA.21_1
UGA.22_1
UGA.24_1
UGA.25_1
UGA.26_1
UGA.27_1
UGA.28_1
UGA.29_1
UGA.2_1
UGA.30_1
UGA.32_1
UGA.33_1
UGA.34_1
UGA.35_1
UGA.36_1
UGA.38_1
UGA.39_1
UGA.3_1
UGA.40_1
UGA.41_1
UGA.42_1
UGA.43_1
UGA.44_1
UGA.45_1
UGA.47_1
UGA.48_1
UGA.49_1
UGA.4_1
UGA.51_1
UGA.52_1
UGA.56_1
UGA.57_1
UGA.58_1
UGA.5_1
UGA.6_1
UGA.7_1
UGA.8_1
UGA.9_1
UKR.10_1
UKR.11_1
UKR.14_1
UKR.15_1
UKR.16_1
UKR.18_1
UKR.24_1
UKR.25_1
UKR.26_1
UKR.27_1
UKR.2_1
UKR.4_1
UKR.5_1
UKR.6_1
UKR.8_1
UKR.9_1
URY.10_1
URY.13_1
URY.14_1
URY.15_1
URY.16_1
URY.19_1
URY.1_1
URY.2_1
URY.5_1
URY.7_1
URY.9_1
USA.10_1
USA.1_1
USA.23_1
USA.24_1
USA.25_1
USA.32_1
USA.36_1
USA.38_1
USA.3_1
USA.43_1
USA.44_1
USA.47_1
USA.5_1
UZB.10_1
UZB.12_1
UZB.13_1
UZB.14_1
UZB.1_1
UZB.2_1
UZB.3_1
UZB.4_1
UZB.5_1
UZB.6_1
UZB.7_1
UZB.8_1
VAT.1_1
VCT.5_1
VEN.11_1
VEN.14_1
VEN.15_1
VEN.16_1
VEN.17_1
VEN.19_1
VEN.20_1
VEN.21_1
VEN.22_1
VEN.25_1
VEN.2_1
VEN.3_1
VEN.6_1
VEN.7_1
VIR.3_1
VNM.12_1
VNM.15_1
VNM.16_1
VNM.17_1
VNM.18_1
VNM.19_1
VNM.20_1
VNM.21_1
VNM.22_1
VNM.23_1
VNM.25_1
VNM.26_1
VNM.27_1
VNM.28_1
VNM.29_1
VNM.2_1
VNM.31_1
VNM.32_1
VNM.37_1
VNM.39_1
VNM.3_1
VNM.41_1
VNM.43_1
VNM.45_1
VNM.46_1
VNM.47_1
VNM.48_1
VNM.49_1
VNM.50_1
VNM.54_1
VNM.55_1
VNM.56_1
VNM.57_1
VNM.61_1
VNM.62_1
VNM.63_1
VNM.6_1
VNM.7_1
VNM.8_1
VNM.9_1
VUT.3_1
VUT.4_1
WLF.2_1
WLF.3_1
WSM.1_1
WSM.2_1
WSM.9_1
XAR.1_1
XIT.1_1
XKK.1_1
XKO.1_1
XKO.2_1
XKO.3_1
XKO.4_1
XKO.5_1
XKO.6_1
XKO.7_1
XNC.1_1
XNC.2_1
XNC.3_1
XNC.4_1
XNC.5_1
YEM.11_1
YEM.12_1
YEM.13_1
YEM.14_1
YEM.15_1
YEM.16_1
YEM.18_1
YEM.19_1
YEM.1_1
YEM.20_1
YEM.21_1
YEM.2_1
YEM.3_1
YEM.4_1
YEM.5_1
YEM.6_1
YEM.7_1
YEM.8_1
YEM.9_1
ZAF.1_1
ZAF.2_1
ZAF.3_1
ZAF.4_1
ZAF.5_1
ZAF.6_1
ZAF.7_1
ZAF.8_1
ZAF.9_1
ZMB.10_1
ZMB.1_1
ZMB.2_1
ZMB.3_1
ZMB.4_1
ZMB.5_1
ZMB.6_1
ZMB.7_1
ZMB.8_1
ZMB.9_1
ZWE.10_1
ZWE.1_1
ZWE.2_1
ZWE.3_1
ZWE.4_1
ZWE.5_1
ZWE.6_1
ZWE.7_1
ZWE.8_1
ZWE.9_1

,SUM(FATALITIES),SUM(COUNT_PRO),SUM(COUNT_SRZ),SUM(COUNT_STRA),NUMBER_EVENTS,SUM(FATALITIES_PRO),SUM(FATALITIES_SRZ),SUM(FATALITIES_STRA),EVENT_DATE_MONTH,GID_0,GID_1,UNREGION1,UNREGION2,LATITUDE,LONGITUDE,START_DATE
0,0,3,0,0,3,0,0,0,2019-09-01,ABW,ABW.1_1,Caribbean,Americas,12.5240,-70.027,2019-01-01
1,0,0,0,0,0,0,0,0,2019-10-01,ABW,ABW.1_1,Caribbean,Americas,12.5240,-70.027,2019-01-01
2,0,0,0,0,0,0,0,0,2019-11-01,ABW,ABW.1_1,Caribbean,Americas,12.5240,-70.027,2019-01-01
3,0,0,0,0,0,0,0,0,2019-12-01,ABW,ABW.1_1,Caribbean,Americas,12.5240,-70.027,2019-01-01
4,0,0,0,0,0,0,0,0,2020-01-01,ABW,ABW.1_1,Caribbean,Americas,12.5240,-70.027,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161953,0,0,0,0,0,0,0,0,2020-08-01,ZWE,ZWE.9_1,Eastern Africa,Africa,-19.7833,29.200,1997-01-01
161954,0,0,0,0,0,0,0,0,2020-09-01,ZWE,ZWE.9_1,Eastern Africa,Africa,-19.7833,29.200,1997-01-01
161955,0,0,0,0,0,0,0,0,2020-10-01,ZWE,ZWE.9_1,Eastern Africa,Africa,-19.7833,29.200,1997-01-01
161956,5,4,1,1,6,4,1,0,2020-11-01,ZWE,ZWE.9_1,Eastern Africa,Africa,-19.7833,29.200,1997-01-01
161957,1,6,4,0,10,0,1,0,2020-12-01,ZWE,ZWE.9_1,Eastern Africa,Africa,-19.7833,29.200,1997-01-01

In [13]:
acled_monthly_adm1_time_series = acled_monthly_adm1_time_series.sort_values(by=["GID_1", "EVENT_DATE_MONTH"])
acled_monthly_adm1_time_series[["SUM(FATALITIES)", "SUM(COUNT_PRO)", "SUM(COUNT_SRZ)", "SUM(COUNT_STRA)", "NUMBER_EVENTS", "SUM(FATALITIES_PRO)", "SUM(FATALITIES_SRZ)", "SUM(FATALITIES_STRA)"]] = acled_monthly_adm1_time_series[["SUM(FATALITIES)", "SUM(COUNT_PRO)", "SUM(COUNT_SRZ)", "SUM(COUNT_STRA)", "NUMBER_EVENTS", "SUM(FATALITIES_PRO)", "SUM(FATALITIES_SRZ)", "SUM(FATALITIES_STRA)"]].fillna(0.0)

acled_monthly_adm1_time_series

,SUM(FATALITIES),SUM(COUNT_PRO),SUM(COUNT_SRZ),SUM(COUNT_STRA),NUMBER_EVENTS,SUM(FATALITIES_PRO),SUM(FATALITIES_SRZ),SUM(FATALITIES_STRA),EVENT_DATE_MONTH,GID_0,GID_1,UNREGION1,UNREGION2,LATITUDE,LONGITUDE,START_DATE
0,0,3,0,0,3,0,0,0,2019-09-01,ABW,ABW.1_1,Caribbean,Americas,12.5240,-70.027,2019-01-01
1,0,0,0,0,0,0,0,0,2019-10-01,ABW,ABW.1_1,Caribbean,Americas,12.5240,-70.027,2019-01-01
2,0,0,0,0,0,0,0,0,2019-11-01,ABW,ABW.1_1,Caribbean,Americas,12.5240,-70.027,2019-01-01
3,0,0,0,0,0,0,0,0,2019-12-01,ABW,ABW.1_1,Caribbean,Americas,12.5240,-70.027,2019-01-01
4,0,0,0,0,0,0,0,0,2020-01-01,ABW,ABW.1_1,Caribbean,Americas,12.5240,-70.027,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161953,0,0,0,0,0,0,0,0,2020-08-01,ZWE,ZWE.9_1,Eastern Africa,Africa,-19.7833,29.200,1997-01-01
161954,0,0,0,0,0,0,0,0,2020-09-01,ZWE,ZWE.9_1,Eastern Africa,Africa,-19.7833,29.200,1997-01-01
161955,0,0,0,0,0,0,0,0,2020-10-01,ZWE,ZWE.9_1,Eastern Africa,Africa,-19.7833,29.200,1997-01-01
161956,5,4,1,1,6,4,1,0,2020-11-01,ZWE,ZWE.9_1,Eastern Africa,Africa,-19.7833,29.200,1997-01-01
161957,1,6,4,0,10,0,1,0,2020-12-01,ZWE,ZWE.9_1,Eastern Africa,Africa,-19.7833,29.200,1997-01-01

In [14]:
acled_monthly_adm1_time_series.to_csv("../data/TB004_ACLED_MONTHLY_ADM1_TIME_SERIES.csv", index=True)

In [15]:
# acled_monthly_adm1_time_series.to_sql(name='TB004_ACLED_MONTHLY_ADM1_TIME_SERIES', con=conn)
# conn.close()

### Log-Transformation
- to allow log change caluclation in prediction

#### ADM0 MONTHLY

In [16]:
# pivot df to create column for every country fatality time series
pivot_columns = ["SUM(COUNT_SRZ)", "SUM(COUNT_STRA)", "NUMBER_EVENTS", 
                "SUM(FATALITIES_PRO)", "SUM(FATALITIES_SRZ)", "SUM(FATALITIES_STRA)", "GID_0", "EVENT_DATE_MONTH", 
                "SUM(FATALITIES)", "SUM(COUNT_PRO)"]
acled_monthly_adm0_pivot = acled_monthly_adm0_time_series[pivot_columns]
acled_monthly_adm0_pivot = pd.pivot_table(acled_monthly_adm0_pivot, columns=["GID_0"], index=["EVENT_DATE_MONTH"])
acled_monthly_adm0_pivot.columns = acled_monthly_adm0_pivot.columns.map('{0[0]}_{0[1]}'.format)
acled_monthly_adm0_pivot

,NUMBER_EVENTS_ABW,NUMBER_EVENTS_AFG,NUMBER_EVENTS_AGO,NUMBER_EVENTS_AIA,NUMBER_EVENTS_ALA,NUMBER_EVENTS_ALB,NUMBER_EVENTS_AND,NUMBER_EVENTS_ARE,NUMBER_EVENTS_ARG,NUMBER_EVENTS_ARM,...,SUM(FATALITIES_STRA)_WSM,SUM(FATALITIES_STRA)_XAR,SUM(FATALITIES_STRA)_XIT,SUM(FATALITIES_STRA)_XKK,SUM(FATALITIES_STRA)_XKO,SUM(FATALITIES_STRA)_XNC,SUM(FATALITIES_STRA)_YEM,SUM(FATALITIES_STRA)_ZAF,SUM(FATALITIES_STRA)_ZMB,SUM(FATALITIES_STRA)_ZWE
EVENT_DATE_MONTH,,,,,,,,,,,,,,,,,,,,,
1997-01-01,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1997-02-01,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1997-03-01,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1997-04-01,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1997-05-01,NaN,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-01,0.0,171.0,28.0,0.0,0.0,19.0,0.0,0.0,264.0,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-11-01,2.0,168.0,5.0,0.0,1.0,12.0,1.0,0.0,247.0,39.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-12-01,1.0,184.0,20.0,0.0,1.0,6.0,0.0,0.0,212.0,36.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
2022-01-01,2.0,262.0,14.0,0.0,0.0,12.0,0.0,10.0,136.0,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-02-01,0.0,121.0,6.0,0.0,0.0,8.0,0.0,5.0,92.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
acled_monthly_adm0_log = np.log(acled_monthly_adm0_pivot+1)
# Calculates the difference of a Dataframe element compared with another element in the Dataframe (default is element in previous row).
acled_monthly_adm0_log_change = acled_monthly_adm0_log#.diff() # first row set to zero
# drop first row
# acled_monthly_adm0_log_change = acled_monthly_adm0_log_change.iloc[1:]
acled_monthly_adm0_log

,NUMBER_EVENTS_ABW,NUMBER_EVENTS_AFG,NUMBER_EVENTS_AGO,NUMBER_EVENTS_AIA,NUMBER_EVENTS_ALA,NUMBER_EVENTS_ALB,NUMBER_EVENTS_AND,NUMBER_EVENTS_ARE,NUMBER_EVENTS_ARG,NUMBER_EVENTS_ARM,...,SUM(FATALITIES_STRA)_WSM,SUM(FATALITIES_STRA)_XAR,SUM(FATALITIES_STRA)_XIT,SUM(FATALITIES_STRA)_XKK,SUM(FATALITIES_STRA)_XKO,SUM(FATALITIES_STRA)_XNC,SUM(FATALITIES_STRA)_YEM,SUM(FATALITIES_STRA)_ZAF,SUM(FATALITIES_STRA)_ZMB,SUM(FATALITIES_STRA)_ZWE
EVENT_DATE_MONTH,,,,,,,,,,,,,,,,,,,,,
1997-01-01,NaN,NaN,1.609438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1997-02-01,NaN,NaN,2.772589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1997-03-01,NaN,NaN,1.791759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1997-04-01,NaN,NaN,1.386294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1997-05-01,NaN,NaN,3.496508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-01,0.000000,5.147494,3.367296,0.0,0.000000,2.995732,0.000000,0.000000,5.579730,3.091042,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2021-11-01,1.098612,5.129899,1.791759,0.0,0.693147,2.564949,0.693147,0.000000,5.513429,3.688879,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2021-12-01,0.693147,5.220356,3.044522,0.0,0.693147,1.945910,0.000000,0.000000,5.361292,3.610918,...,0.0,0.0,0.0,0.0,0.0,0.0,2.397895,0.0,0.0,0.0
2022-01-01,1.098612,5.572154,2.708050,0.0,0.000000,2.564949,0.000000,2.397895,4.919981,3.091042,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2022-02-01,0.000000,4.804021,1.945910,0.0,0.000000,2.197225,0.000000,1.791759,4.532599,3.044522,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [18]:
# acled_monthly_adm0_log_change[["SUM(FATALITIES)_IND"]].loc["2012-10-01":]

In [19]:
acled_monthly_adm0_log.to_csv("../data/TB011_ACLED_MONTHLY_ADM0_LOG.csv", index=True)

#### ADM1 MONTHLY

In [20]:
# pivot df to create column for every country fatality time series
pivot_columns = ["SUM(COUNT_SRZ)", "SUM(COUNT_STRA)", "NUMBER_EVENTS", 
                "SUM(FATALITIES_PRO)", "SUM(FATALITIES_SRZ)", "SUM(FATALITIES_STRA)", "GID_1", "EVENT_DATE_MONTH", 
                "SUM(FATALITIES)", "SUM(COUNT_PRO)"]
acled_monthly_adm1_pivot = acled_monthly_adm1_time_series[pivot_columns]
acled_monthly_adm1_pivot = pd.pivot_table(acled_monthly_adm1_pivot, columns=["GID_1"], index=["EVENT_DATE_MONTH"])
acled_monthly_adm1_pivot.columns = acled_monthly_adm1_pivot.columns.map('{0[0]}_{0[1]}'.format)
acled_monthly_adm1_pivot

,NUMBER_EVENTS_ABW.1_1,NUMBER_EVENTS_AFG.10_1,NUMBER_EVENTS_AFG.11_1,NUMBER_EVENTS_AFG.12_1,NUMBER_EVENTS_AFG.13_1,NUMBER_EVENTS_AFG.14_1,NUMBER_EVENTS_AFG.15_1,NUMBER_EVENTS_AFG.16_1,NUMBER_EVENTS_AFG.17_1,NUMBER_EVENTS_AFG.18_1,...,SUM(FATALITIES_STRA)_ZWE.10_1,SUM(FATALITIES_STRA)_ZWE.1_1,SUM(FATALITIES_STRA)_ZWE.2_1,SUM(FATALITIES_STRA)_ZWE.3_1,SUM(FATALITIES_STRA)_ZWE.4_1,SUM(FATALITIES_STRA)_ZWE.5_1,SUM(FATALITIES_STRA)_ZWE.6_1,SUM(FATALITIES_STRA)_ZWE.7_1,SUM(FATALITIES_STRA)_ZWE.8_1,SUM(FATALITIES_STRA)_ZWE.9_1
EVENT_DATE_MONTH,,,,,,,,,,,,,,,,,,,,,
1997-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-01,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2021-11-01,2.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-01,1.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01,2.0,NaN,NaN,NaN,NaN,262.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-02-01,NaN,NaN,NaN,NaN,NaN,121.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# calculate log change relative to past period for each column

acled_monthly_adm1_log = np.log(acled_monthly_adm1_pivot+1)
# Calculates the difference of a Dataframe element compared with another element in the Dataframe (default is element in previous row).
# acled_monthly_adm1_log_change = acled_monthly_adm1_log #.diff() # first row set to zero

# drop first row
# acled_monthly_adm1_log_change = acled_monthly_adm1_log_change.iloc[1:]

acled_monthly_adm1_log

,NUMBER_EVENTS_ABW.1_1,NUMBER_EVENTS_AFG.10_1,NUMBER_EVENTS_AFG.11_1,NUMBER_EVENTS_AFG.12_1,NUMBER_EVENTS_AFG.13_1,NUMBER_EVENTS_AFG.14_1,NUMBER_EVENTS_AFG.15_1,NUMBER_EVENTS_AFG.16_1,NUMBER_EVENTS_AFG.17_1,NUMBER_EVENTS_AFG.18_1,...,SUM(FATALITIES_STRA)_ZWE.10_1,SUM(FATALITIES_STRA)_ZWE.1_1,SUM(FATALITIES_STRA)_ZWE.2_1,SUM(FATALITIES_STRA)_ZWE.3_1,SUM(FATALITIES_STRA)_ZWE.4_1,SUM(FATALITIES_STRA)_ZWE.5_1,SUM(FATALITIES_STRA)_ZWE.6_1,SUM(FATALITIES_STRA)_ZWE.7_1,SUM(FATALITIES_STRA)_ZWE.8_1,SUM(FATALITIES_STRA)_ZWE.9_1
EVENT_DATE_MONTH,,,,,,,,,,,,,,,,,,,,,
1997-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-01,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2021-11-01,1.098612,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-01,0.693147,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01,1.098612,NaN,NaN,NaN,NaN,5.572154,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-02-01,NaN,NaN,NaN,NaN,NaN,4.804021,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
acled_monthly_adm1_log.to_csv("../data/TB012_ACLED_MONTHLY_ADM1_LOG.csv", index=True)

### ADM0 QUARTERLY

In [23]:
acled_quarterly_adm0_pivot = acled_monthly_adm0_pivot.resample('3MS').apply(lambda x: x.sum(skipna=False))
# log all values to enable later lognchange calculation by difference
acled_quarterly_adm0_log = np.log(acled_quarterly_adm0_pivot+1)
acled_quarterly_adm0_log.to_csv("../data/TB012_ACLED_QUARTERLY_ADM0_LOG.csv", index=True)
acled_quarterly_adm0_log

,NUMBER_EVENTS_ABW,NUMBER_EVENTS_AFG,NUMBER_EVENTS_AGO,NUMBER_EVENTS_AIA,NUMBER_EVENTS_ALA,NUMBER_EVENTS_ALB,NUMBER_EVENTS_AND,NUMBER_EVENTS_ARE,NUMBER_EVENTS_ARG,NUMBER_EVENTS_ARM,...,SUM(FATALITIES_STRA)_WSM,SUM(FATALITIES_STRA)_XAR,SUM(FATALITIES_STRA)_XIT,SUM(FATALITIES_STRA)_XKK,SUM(FATALITIES_STRA)_XKO,SUM(FATALITIES_STRA)_XNC,SUM(FATALITIES_STRA)_YEM,SUM(FATALITIES_STRA)_ZAF,SUM(FATALITIES_STRA)_ZMB,SUM(FATALITIES_STRA)_ZWE
EVENT_DATE_MONTH,,,,,,,,,,,,,,,,,,,,,
1997-01-01,NaN,NaN,3.218876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1997-04-01,NaN,NaN,4.510860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1997-07-01,NaN,NaN,4.770685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1997-10-01,NaN,NaN,3.496508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1998-01-01,NaN,NaN,3.637586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-01,0.000000,8.041413,3.871201,0.693147,0.000000,3.583519,1.386294,0.000000,6.758095,4.934474,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2021-04-01,0.000000,8.332549,3.295837,0.000000,0.000000,4.454347,0.693147,0.000000,6.722630,4.919981,...,0.0,0.0,0.0,0.0,0.0,0.0,3.258097,0.0,0.0,0.0
2021-07-01,0.693147,7.549609,3.688879,0.000000,0.000000,3.258097,0.693147,0.693147,6.458338,4.890349,...,0.0,0.0,0.0,0.0,0.0,0.0,1.791759,0.0,0.0,0.0
2021-10-01,1.386294,6.261492,3.988984,0.000000,1.098612,3.637586,0.693147,0.000000,6.584791,4.574711,...,0.0,0.0,0.0,0.0,0.0,0.0,2.397895,0.0,0.0,0.0
2022-01-01,1.098612,5.950643,3.044522,0.000000,0.000000,3.044522,0.000000,2.772589,5.433722,3.737670,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

### ADM1 QUARTERLY

In [24]:
acled_quarterly_adm1_pivot = acled_monthly_adm1_pivot.resample('3MS').apply(lambda x: x.sum(skipna=False))
# log all values to enable later log change calculation by difference
acled_quarterly_adm1_log = np.log(acled_quarterly_adm1_pivot+1)
acled_quarterly_adm1_log.to_csv("../data/TB013_ACLED_QUARTERLY_ADM1_LOG.csv", index=True)
acled_quarterly_adm1_log

,NUMBER_EVENTS_ABW.1_1,NUMBER_EVENTS_AFG.10_1,NUMBER_EVENTS_AFG.11_1,NUMBER_EVENTS_AFG.12_1,NUMBER_EVENTS_AFG.13_1,NUMBER_EVENTS_AFG.14_1,NUMBER_EVENTS_AFG.15_1,NUMBER_EVENTS_AFG.16_1,NUMBER_EVENTS_AFG.17_1,NUMBER_EVENTS_AFG.18_1,...,SUM(FATALITIES_STRA)_ZWE.10_1,SUM(FATALITIES_STRA)_ZWE.1_1,SUM(FATALITIES_STRA)_ZWE.2_1,SUM(FATALITIES_STRA)_ZWE.3_1,SUM(FATALITIES_STRA)_ZWE.4_1,SUM(FATALITIES_STRA)_ZWE.5_1,SUM(FATALITIES_STRA)_ZWE.6_1,SUM(FATALITIES_STRA)_ZWE.7_1,SUM(FATALITIES_STRA)_ZWE.8_1,SUM(FATALITIES_STRA)_ZWE.9_1
EVENT_DATE_MONTH,,,,,,,,,,,,,,,,,,,,,
1997-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-01,0.000000,NaN,0.0000,NaN,NaN,6.962243,0.000000,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN
2021-04-01,0.000000,NaN,7.3518,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2021-07-01,0.693147,NaN,NaN,NaN,NaN,0.000000,7.133296,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2021-10-01,1.386294,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01,NaN,NaN,NaN,NaN,NaN,5.950643,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN